<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digantjagtap.stockalerts" >

    <application>
        <uses-library android:name="com.google.android.things" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <symbol android:name="android.intent.symbol.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <symbol android:name="android.intent.symbol.IOT_LAUNCHER" />
                <symbol android:name="android.intent.symbol.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>